@use './vars.scss' as *;
@use './ui.scss';


html, body {
  background-color: $black;
  font-family: sans-serif;
  height: 100%;
}

#app, .app__wrapper {
  height: inherit;
}

p, h1, h2 {
  color: $text-prime;
}